name: flipper_hacker_mobile
description: Flipper Zero style mobile hacker toolkit for Android/iOS
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_blue_plus: ^2.3.9
  nfc_manager: ^4.2.1
  wifi_scan: ^0.4.1+2
  permission_handler: ^11.3.1
  google_fonts: ^6.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true